/* Style pour le formulaire */
form {
  margin-bottom: 20px;
  text-align: center; /* Centrer les éléments du formulaire */
}

label {
  display: block;
  margin-bottom: 8px;
  color: #000; /* Noir */
  font-weight: bold;
  text-align: center; /* Centrer le texte */
}

input[type="text"],
textarea {
  width: 80%; /* Largeur définie à 80% de la largeur parente */
  padding: 8px;
  margin: 0 auto; /* Centrer les champs de saisie horizontalement */
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #1380fd; /* Jaune EY */
  color: #000; /* Noir */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 8px; /* Ajout de marge en haut */
}

button:hover {
  background-color: #f6a800; /* Jaune foncé */
}

/* Style pour la liste des missions */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f9f9f9; /* Gris très clair */
  border: 1px solid #e6e6e6; /* Gris très clair */
  border-radius: 4px;
  padding: 12px;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button.delete {
  padding: 8px 16px;
  background-color: #dc3545; /* Rouge */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.delete:hover {
  background-color: #c82333; /* Rouge foncé */
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000; /* Noir */
  color: #fff; /* Texte blanc */
}
body {
  background-color: black;
}

