<form #missionForm!="ngForm" (ngSubmit)="onSubmit(missionForm)">
    <div ngModelGroup="mission">
      <div>
        <label for="nom">Nom de la mission:</label>
        <input type="text" id="nom" name="nom" ngModel required>
      </div>
      <div>
        <label for="description">Description:</label>
        <textarea id="description" name="description" ngModel required></textarea>
      </div>
      <div>
        <label for="dateDebut">Date de début:</label>
        <input type="date" id="dateDebut" name="dateDebut" ngModel required>
      </div>
      <div>
        <label for="dateFin">Date de fin:</label>
        <input type="date" id="dateFin" name="dateFin" ngModel required>
      </div>
    </div>
    <button type="submit">Ajouter</button>
  </form>
  