<div class="container">
    <img src="assets/images/logo.png" alt="Ernst and Young Logo" class="logo">
    <form class="form-container" (submit)="onSubmit()">
      <h2>Connexion</h2>
      <label for="username">Nom d'utilisateur :</label>
      <input type="text" id="username" name="username" [(ngModel)]="username" required>
      <label for="password">Mot de passe :</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required>
      <button type="submit">Se connecter</button>
    </form>
    <button routerLink="/acceuil">Go to Page d'
      accueil</button>
  </div>
  